.dashboard {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  margin-top: 60px;
}
.dashboard h1 {
  color: #ffffff;
  background-color: var(--text-color);
  padding: 60px 10px;
}
