#files-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#files-table th,
#files-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#files-table th {
  background-color: var(--text-color);
  color: white;
}

#files-table tr:nth-child(even) {
  background-color: #f0f0f0;
}

#files-table tr:hover {
  background-color: #ddd;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
